include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include hazardous_substance_management *.css
recursive-include hazardous_substance_management *.csv
recursive-include hazardous_substance_management *.html
recursive-include hazardous_substance_management *.ico
recursive-include hazardous_substance_management *.js
recursive-include hazardous_substance_management *.json
recursive-include hazardous_substance_management *.md
recursive-include hazardous_substance_management *.png
recursive-include hazardous_substance_management *.py
recursive-include hazardous_substance_management *.svg
recursive-include hazardous_substance_management *.txt
recursive-exclude hazardous_substance_management *.pyc